.booking-container {
  text-align: center;
  padding: 60px 20px;
  background-color: #1A0F0B;
  min-height: 100vh;
  color: #fff;
}

.booking-title {
  font-size: 36px;
  margin-bottom: 10px;
}

.booking-subtitle {
  color: #b8b8b8;
  margin-bottom: 40px;
}

.booking-form {
  width: 480px;
  margin: 0 auto;
  background-color: #2A1B16;
  padding: 40px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.booking-form input,
.booking-form select {
  padding: 14px;
  border-radius: 8px;
  border: none;
  background-color: #3B2923;
  color: white;
}

.booking-form label {
  text-align: left;
  color: #d6d6d6;
  font-size: 14px;
}

.date-time-wrapper {
  display: flex;
  gap: 16px;
}

.btn-book {
  background-color: #E55322;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 18px;
  font-weight: bold;
  font-size: 16px;
  transition: 0.2s;
}

.btn-book:hover {
  background-color: #c74417;
}
