@tailwind base;
@tailwind components;
@tailwind utilities;

/* (Opsional) Tambahkan CSS custom kamu di bawah sini */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}
html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}
